/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff8e1;
}

h1, h2, h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

input, textarea, button {
    font-size: 16px;
    margin: 10px 0;
}

button {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

button.delete-button {
    background-color: #dc3545;
}

button.delete-button:hover {
    background-color: #c82333;
}

/* Recipe Form Container */
.edit-recipe-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff8e1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffde7;
    padding: 10px 20px;
    color: black;
}

header .logo {
    font-size: 30px;
    font-weight: bold;
}

header .nav {
    display: flex;
}

header .nav a {
    margin-left: 15px;
    color: black;
    text-decoration: none;
}

header .nav a:hover {
    text-decoration: underline;
}

/* Form Fields */
form {
    display: flex;
    flex-direction: column;
}

form label {
    font-size: 18px;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="number"],
form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
}

form input[type="file"] {
    padding: 10px;
}

form h3 {
    font-size: 20px;
    margin-top: 20px;
}

/* Ingredient and Step List Styles */
#ingredientsList,
#stepsList {
    margin-bottom: 20px;
}

.ingredient,
.step {
    display: flex;
    align-items: center;
}

.ingredient input,
.step textarea {
    width: 90%;
}

.ingredient button,
.step button {
    margin-left: 10px;
}

#addIngredient,
#addStep {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: white;
    background-color: #d84315;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#addIngredient:hover,
#addStep:hover {
    background-color: #bf360c;
    transform: scale(1.05);
}

/* Add Recipe Button */
.button {
    padding: 10px 20px;
    background-color: #d84315;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #bf360c;
}
